BREVO_API_KEY=
BREVO_LIST_ID=3
BREVO_ADMIN_TEMPLATE_ID=5
BREVO_CONFIRM_TEMPLATE_ID=2
BREVO_PROFESSION_CONFIRM_TEMPLATE_ID=6
BREVO_ODYSSEUS_TEMPLATE_ID=0
CONTACT_ADMIN_EMAIL=contact@safe-pilotage-prive.fr
CONTACT_SENDER_EMAIL=contact@safe-pilotage-prive.fr
CONTACT_SENDER_NAME=S.A.F.E. Pilotage Privé
CONTACT_NOTIFY_EMAIL=bertrand.charpilloz@gmail.com
